<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ES6-项目构建</title>
    <link rel="stylesheet" href="/css/hello.css">
  </head>
  <body>
    <h1>项目构建</h1>
    <section class="vue">
      <h2>这个区域是由Vue项目生成的</h2>
      <article  id="vue"></article>
    </section>
    <section class="react">
      <h2>这个区域是由React项目生成的</h2>
      <article  id="react"></article>
    </section>
    <script src="/js/index.js" charset="utf-8"></script>
  </body>
</html>
